<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-info">
              <h4 class="card-title ">{{'Boat Hull Metarial List'}}</h4>
              <a *ngIf="('CreateBoatHullMetarialCommand')" class="pull-right" data-toggle="modal" data-target="#boatHullMetarial">
                <i style="color:white" title="{{'Add'}}" class="far fa-plus-square fa-2x"></i></a>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <div class="col-md-12 row">
                  <div *ngIf="dataLoaded==false" class="spinner-border text-info" role="status">
                    <span class="visually-hidden"></span>
                  </div>
                  <div class="col-md-3 ml-auto">
                    <mat-form-field>
                      <mat-label>Filter</mat-label>
                      <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
                    </mat-form-field>
                  </div>
                </div>
                <table mat-table [dataSource]="dataSource" matSort>
  
                  <ng-container matColumnDef="boatHullMetarialName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'boatHullMetarialName'}}</th>
                    <td mat-cell *matCellDef="let element">{{element.boatHullMetarialName}}</td>
                  </ng-container>

                  <ng-container matColumnDef="update">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td style="width: 25px;" mat-cell *matCellDef="let element">
                      <a data-toggle="modal" data-target="#boatHullMetarial" (click)="getBoatHullMetarialById(element._id)">
                        <i title="{{'Update'}}" style="color: #ff5722;" class="far fa-edit"></i>
                      </a>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="delete">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td style="width: 25xp;" mat-cell *matCellDef="let element">
                      <a (confirm)="deleteHullMetarial(element._id)" [swal]="deleteSwal">
                        <i style="color: #D9534E;" class="fas fa-trash-alt"></i>
                      </a>
                    </td>
                  </ng-container>
  
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal modal-angular fade" id="boatHullMetarial" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body text-center">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"
            (click)="clearFormGroup(hullMetarialAddForm)"><span aria-hidden="true">&times;</span></button>
          <h4 class="margin-top">
            {{'Hull Metarial Add Form'}}
          </h4>
          <div class="separator"></div>
  
          <form *ngIf="hullMetarialAddForm" [formGroup]="hullMetarialAddForm" (ngSubmit)="save()">
  
            <div class="row">
              <div class="col col-md-12">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Boat Hull Metarial Name" type="text" id="boatHullMetarialName" name="boatHullMetarialName"
                    formControlName="boatHullMetarialName" />
                  <div class="alert alert-danger"
                    *ngIf="hullMetarialAddForm.get('boatHullMetarialName')!.hasError('boatHullMetarialName') && hullMetarialAddForm.get('boatHullMetarialName')!.dirty">
                  </div>
                </mat-form-field>
              </div>
            </div>
  
            <button mat-raised-button type="submit" class="btn btn-info pull-right">{{'Save'}}</button>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <swal #deleteSwal title="{{'DeleteConfirm'}}" icon="error" [showCancelButton]="true"
  [confirmButtonText]="'OK'" [cancelButtonText]="'Cancel'">
  </swal>